# AbstractContainerScreen の isHovering(Slot, double, double) を protected にしてオーバーライド可能にする
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen isHovering(Lnet/minecraft/world/inventory/Slot;DD)Z
# AbstractContainerMenu の addSlot, moveItemStackToを public にして他のclassからアクセス可能にする(util化できるように)
public net.minecraft.world.inventory.AbstractContainerMenu addSlot(Lnet/minecraft/world/inventory/Slot;)Lnet/minecraft/world/inventory/Slot;
public net.minecraft.world.inventory.AbstractContainerMenu moveItemStackTo(Lnet/minecraft/world/item/ItemStack;IIZ)Z